[Unit]
Description=Wallac Victor2 eLabFTW Bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=antonio
WorkingDirectory=/home/antonio/repos/wallac-victor2-api
EnvironmentFile=/etc/wallac-bridge/bridge.env
ExecStart=/home/antonio/repos/wallac-victor2-api/.venv/bin/python3 main.py

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
